!!! 5
head
    title SolveJS
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js")
    script(src="http://localhost:8000/socket.io/socket.io.js")
body
    | Welcome to a solvejs worker instance
    script(src="/worker.js")
